body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}
.btn-custom
{
  border-color: darkblue;
  color: darkblue;
  padding-top: 8px;
}
.btn-custom:hover
{
  background-color: darkblue;
}